#passwordpage{
  width: 2443px;
  height: 1334px;
  background-image: url("wood.jpg");
  position: absolute;
  /* z-index: -1; */
}
#passworddiv{
  position: fixed;
  margin-top: 200px;
  height: 100px;
  background-color: hsla(0, 0%, 100%, 0.37);
}
label{
  font-size: 2rem;
}
#passwordbtndiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#passwordbtn{
  padding: 10px 20px;
  background-color: hsla(22, 87%, 58%, 0.767);
  border-radius: 10px;
}